:root {
  --PhoneInput-color--focus: #f87171; /* Tailwind red-400 */
  --PhoneInputCountryFlag-height: 1.2em;
  --PhoneInputCountrySelectArrow-color: #6b7280;
}

.text-3D-red-500 {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  font-weight: 700;
  color: #f57f7f;
  font-size: 30px;

  text-shadow:
    0 1px 0 #db4a4a,
    0 2px 0 #ca3737,
    0 3px 0 #b32525,
    0 4px 0 #921a1a,
    0 5px 1px rgba(0, 0, 0, 0.6),
    0 0 5px rgb(255, 0, 0);
}

*{
  scroll-behavior: smooth;
}

.transparentScrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.redScrollbar::-webkit-scrollbar-thumb {
  background-color: #DB4444;
}

.redScrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #a13333;
}

.greenScrollbar::-webkit-scrollbar-thumb {
  background-color: #059669;
}

.greenScrollbar::-webkit-scrollbar-thumb:hover {
  background-color: #057b56;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: black;
  margin: 0;
}

::-webkit-scrollbar-thumb {
  background-color: #762727;
  border-radius: 999px;
  min-height: 40px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #5a1e1e;
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

.country-select__control {
  height: 48px !important;
  border: none !important;
  background: transparent !important;
  box-shadow: none !important;
}

.country-select__menu {
  border-radius: 12px !important;
  overflow: hidden;
}

.country-select__option--is-focused {
  background: #fee2e2 !important;
}

.country-select__option--is-selected {
  background: #ef4444 !important;
}

.country-select__indicator-separator {
  display: none;
}